@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--base-font-size);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
}

.border-border-color {
  border-color: var(--border-color);

}

.text-secondary {
  color: var(--secondary);
}

:link,button {
  color: var(--secondary);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  /* padding: 1rem; */
  color: white;
}

.theme-transition * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}